<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <h3>Full Name</h3>
        <input name="name">
        <br>
        <br/>
        <h3>Username</h3>
        <input name="username">
        <br>
        <br/>
        <h3>Password</h3>
        <input name="password">
        <br>
        <br/>
        <h3>Confirm Password</h3>
        <input name="confirmed_password">
        <br>
        <br/>
        <h3>Email</h3>
        <input name="email"> 
        <input type="submit">
    </form>
    
</body>
</html>