<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    {% if name %}
    <h1>
        Hello, welcome to the {{ name }} Summer 2020 API!
    </h1>
    {% else %}
  <h1>Hello, World!</h1>
    {% endif %}
    <p>This site is a prototype API for accessing the books and textbooks I've read and the work I've done for various companies during the summer of 2020.</p>
    <p>Below, sign up and try some test API requests. Let me know what you think!</p>
    <form method="POST">
        <h3>Username</h3>
        <input name="username">
        <br>
        <br/>
        <h3>Password</h3>
        <input name="password"> 
        <input type="submit">
    </form>
</body>
</html>